@font-face {
    font-family: 'Rosarivo';
    src: url('../fonts/Rosarivo-Regular.woff2') format('woff2'),
        url('../fonts/Rosarivo-Regular.woff') format('woff'),
        url('../fonts/Rosarivo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rozha One';
    src: url('../fonts/RozhaOne-Regular.woff2') format('woff2'),
        url('../fonts/RozhaOne-Regular.woff') format('woff'),
        url('../fonts/RozhaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rokkitt';
    src: url('../fonts/Rokkitt-Regular.woff2') format('woff2'),
        url('../fonts/Rokkitt-Regular.woff') format('woff'),
        url('../fonts/Rokkitt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root{
    --color-violet: #6743AC38; /* Исправьте, если нужно другое значение */
    --color-light: #6743AC38;
    border-radius: 30px;
    border: 2px solid var(--color-text);

    --font-family-base: 'Rosarivo', sans-serif;
    --font-family-accent: 'Rozha One', sans-serif;

    --input-height: 52px;

    --container-width: 1220px;
    --container-padding: 15px;

    transition-duration: 0.2s;
}

body {
    margin: 0;
    font-family: var(--font-family-base);
    background-color: var(--color-light);
    
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-transform: uppercase;
}

h1{
    color: #6743AC;
    margin: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    max-width: var(--container-width); 
    padding-left: var(--container-padding); 
    padding-right: var(--container-padding); 
    margin-left: auto;
    margin-right: auto;
    background-color: #6743AC4D;
}

.header-menu-list{
    display: flex;
    column-gap: 55px;
}

.header-menu-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400 ;
    font-size: 20px;
    letter-spacing: 0px;
}

.header-menu-link {
    color: #000000;
    text-decoration: none;
}

.header-menu-link.is-current {
    color: #6743AC;
}

.main {
    position: relative;
    max-width: var(--container-width);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    min-height: 787px; 
    margin-top: 50px;
    margin-bottom: 50px;
}


.model-text {
    width: 50%;
    padding-right: 20px;
}

.model {
    width: 50%;
    height: 100%;
}

.model img {
    margin-top: 242px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.model-text h2 {
    color: #000000AB;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 10px;
    margin-top: 380px;
}

.model-text h1 {
    font-weight: 400;
    font-size: 35px;
    line-height: 1;
    letter-spacing: 0;
    color: #000;
    margin-bottom: 15px;
}

.model-text p {
    font-family: 'Rosarivo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.button-nav {
    
    font-family: Rokkitt, sans-serif;
    border-radius: 30px;
    border: 2px solid #6743AC;
    padding: 10px 70px;
    cursor: pointer;
    color: #6743AC;
}

.features {
    margin-top: 100px;
    padding: 50px 0; 
    text-align: left;
    max-width: 1216px;
    margin-left: auto;
    margin-right: auto;
}

.features h1 {
    color: #000000;
    font-size: 31px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: left;
}

.features > p {
    color: #00000099;
    font-size: 21px;
    line-height: 1.6;
    margin-bottom: 30px;
    margin-left: 0;
    text-align: left;
    hyphens: auto; 
    width: 100%; 
    max-width: 420px; 
}

.features-grid {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 0;
    max-width: 100%;
}

.feature-item {
    width: 314px;
    height: 663px;
    text-align: left;
    margin-right: 20px; 
}

.feature-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

.feature-item h2 {
    font-size: 31px;
    color: #000000;
    margin-bottom: 10px;
    margin-left: 0;
    line-height: 100%;
    letter-spacing: 0%;
}

.feature-item p {
    color: #00000099;
    font-size: 21px;
    line-height: 100%;
    margin-left: 0;
    letter-spacing: 0%;
}

.main-1 {
    position: relative;
    max-width: var(--container-width);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    min-height: 787px; 
    margin-top: 50px;
    margin-bottom: 50px;
}


.model-text {
    width: 50%;
    padding-right: 20px;
}

.model-1 {
    width: 50%;
    height: 100%;
}

.model img {
    margin-top: 242px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.model-text h2 {
    color: #000000AB;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 10px;
    margin-top: 380px;
}

.model-text h1 {
    font-weight: 400;
    font-size: 35px;
    line-height: 1;
    letter-spacing: 0;
    color: #000;
    margin-bottom: 15px;
}

.model-text p {
    font-family: 'Rosarivo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.button-nav-1 {
    font-family: Rokkitt, sans-serif;
    border-radius: 30px;
    border: 2px solid #6743AC;
    padding: 10px 70px;
    cursor: pointer;
    color: #6743AC;
}